.Homepage1 {
    padding: 0.5em;
    margin: 20px;
    background-color:azure;
}

.Homepage2 {
    padding: 0.5em;
    margin: 20px;
    background-color:azure;
}

body {
    background-color:blanchedalmond;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1 {
    text-align: center;
    padding: 1em;
}

.description {
    display:flex;
}

.introduction {
    flex: 1;
    padding: 0.5em;
    margin: 1px;
    display: block;
    width: 60%;
}

td {
    border: 2px solid black;
    padding: 5px;
    border-collapse: collapse;
}

.table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.historical_places {
    display: flex;
}

.city {
 display: flex;
}

.clearfix {
    overflow: auto;
    zoom: normal;
}

.b_g {
    flex: auto; 
}

.r_b {
    flex: auto; 
}

.e_s_g {
    flex: auto; 
}

